# macOS
.DS_Store
# Python / Notebooks
.venv/
__pycache__/
.ipynb_checkpoints/
data/
out/
# Node
node_modules/
# Rust
target/

# Frontend ignores
frontend/**/node_modules/
frontend/**/.idea/
frontend/**/dist/
